.form__contacto {
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0px 0px;
    background: #EAF2FD;
    box-sizing: border-box;
    width: 100%;
    gap: 12px;

}

.contacto {
    width: 1440px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
}

.contact__text {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.contact__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.contact__subtext {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 656px;


}

.button_contacto {
    justify-content: center;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 16px;
}

@media(max-width:375px) {
    .form__contacto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
      
   

    }

    .izquierda {
        display: none;
    }

    .contact__text {
       
        box-sizing: border-box;
        width: 296px;
        gap: 10px;
    }

    .form {
        box-sizing: border-box;
        width: 360px;
    }
}