.hobbies {
    font-family: 'Raleway';
    font-style: normal;
    color: #464646;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
 

}

.hobbies__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    width: 1440px;
    justify-content: space-between;
    margin-bottom: 16px;

}

.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 174px;
    background: #FFFFFF;
}

.hobbies__img {
    left: 12.5%;
    right: 16.67%;
    top: 4.17%;
    bottom: 0%;
    margin-bottom: 10px;
}

.hobbies__name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #464646;

}

@media (max-width:375px) {
    .hobbies {
        display: flex;
        align-items: center;
    }

    .hobbies__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    .hobbies__line {
        box-sizing: border-box;
        padding: 12px;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }

    .hobbies__box {
        box-sizing: border-box;
        width: 45%;

    }
  
}